<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.menil.rottenmovies">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application

        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_1100"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/CustomActionBarTheme">
        <meta-data
            android:name="android.app.default_searchable"
            android:value="com.menil.rottenmovies.SearchActivity" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.menil.rottenmovies.SplashScreen"
            android:configChanges="screenSize|orientation"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Main activity -->
        <activity
            android:name="com.menil.rottenmovies.Main"
            android:configChanges="screenSize|orientation"
            android:icon="@drawable/actionbar_icon"
            android:label="@string/app_name">

        </activity>
        <!-- Facebook LoginActivity-->
        <activity
            android:name="com.facebook.LoginActivity"
            android:configChanges="screenSize|orientation"
            android:icon="@drawable/actionbar_icon" />

        <!-- Search activity -->
        <activity
            android:name="com.menil.rottenmovies.SearchActivity"
            android:configChanges="screenSize|orientation"
            android:icon="@drawable/actionbar_icon"
            android:label="@string/action_search"
            android:launchMode="singleTop"
            android:parentActivityName="com.menil.rottenmovies.Main">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <!-- Crash report activity -->
        <activity
            android:name="org.acra.CrashReportDialog"
            android:excludeFromRecents="true"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Dialog" />

        <!-- Details activity -->
        <activity
            android:name="com.menil.rottenmovies.DetailsActivity"
            android:configChanges="screenSize|orientation"
            android:icon="@drawable/actionbar_icon"
            android:label=""
            android:parentActivityName="com.menil.rottenmovies.Main" />
    </application>

</manifest>