<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.menil.rottenmovies">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application

        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_1100"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBarTheme">


        <activity
            android:name="com.menil.rottenmovies.SplashScreen"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Main -->
        <activity
            android:name="com.menil.rottenmovies.Main"
            android:configChanges="screenSize|orientation"
            android:icon="@drawable/actionbar_icon"
            android:label="@string/app_name" />

        <!-- Crash report activity -->
        <activity
            android:name="org.acra.CrashReportDialog"
            android:excludeFromRecents="true"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Dialog" />

    </application>

</manifest>